# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Entorno
.env
.env.local

# Credenciales Google / tokens
credentials.json
token.json
*.pem

# Logs
*.log

# OS
.DS_Store
